/node_modules
/bower_components
/public/hot
/public/storage
/storage/app/*
/storage/app/public/*
/storage/logs/*

!/storage/app/.gitkeep
!/storage/app/public
!/storage/app/public/.gitkeep
!/storage/app/public/default
!/storage/framework/.gitkeep
!/storage/logs/.gitkeep

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
package-lock.json
composer.lock