variables:
  DEV_ROOT: '/sources/website/site_imba'
  DEV_DIR:  $DEV_ROOT/dev
  
  PRD_DIR: '/var/www/html/site_imba'
  PRD_DIR_STAGING:  $PRD_DIR/staging
  PRD_DIR_PRODUCTION:  $PRD_DIR/production
  
stages:
  - prepare
  - build
  - deploy


############################
#   DEV - W3_CLOUD@DEV     #
############################
dev-prepare:
  stage: prepare
  before_script:
    - 'if [ -r .git ]; then rm -rf .git; fi'
    - 'if [ -f .env ]; then rm -rf .env; fi'
  script:
    - composer install --no-interaction
  only:
    refs:
      - develop
      - /^feature\/.*$/
      - /^hotfix\/.*$/
    variables:
      - $CI_COMMIT_MESSAGE =~ /^dev\d+\.\d+\.\d+/
  except:
    - web
  tags:
    - w3_dev

dev-deploy:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
    - 'if [ ! -w $DEV_DIR ]; then echo "$DEV_DIR should be 775."; exit 1; fi'
  script:
    - \cp -Rf . $DEV_DIR
    - cd $DEV_DIR
    - 'if [ -f .env ]; then php artisan sg:deploy; else echo "Create .env first."; fi'
  after_script:
    - sudo chmod -R 777 $DEV_DIR/storage
    - sudo chmod -R 777 $DEV_DIR/Modules/Imba/resources/lang
  only:
    refs:
      - develop
      - /^feature\/.*$/
      - /^hotfix\/.*$/
    variables:
      - $CI_COMMIT_MESSAGE =~ /^dev\d+\.\d+\.\d+/
  except:
    - web
  tags:
    - w3_dev


############################
#   STAGING - LINUX W3S    #
############################
stg-prepare:
  stage: prepare
  before_script:
    - 'if [ -r .git ]; then rm -rf .git; fi'
    - 'if [ -f .env ]; then rm -rf .env; fi'
  script:
    - composer install --no-interaction --no-dev
  only:
    - release
  except:
    - web
  tags:
    - deploy_stg

stg-deploy:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
    - 'if [ ! -w $PRD_DIR ]; then echo "$PRD_DIR should be 775."; exit 1; fi'
  script:
    - 'if [ ! -d $PRD_DIR_STAGING ]; then mkdir -p $PRD_DIR_STAGING ; fi'
    - \cp -Rf . $PRD_DIR_STAGING
    - cd $PRD_DIR_STAGING
    - 'if [ -f .env ]; then php artisan sg:deploy; else echo "Create .env first."; fi'
  after_script:
    - sudo chmod -R 777 $PRD_DIR_STAGING/storage
  only:
    - release
  except:
    - web
  tags:
    - deploy_stg

############################
#  PRODUCTION - LINUX W3S  #
############################
prd-deploy:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
    -  cd $PRD_DIR_PRODUCTION
    -  'if [ -f .env ]; then \cp -f .env .env.tmp; fi'
  script:
    - pwd
    - \cp -Rf $PRD_DIR_STAGING/. $PRD_DIR_PRODUCTION/.
    - 'if [ -f .env ]; then php artisan sg:deploy; else echo "Create .env first."; fi'
  after_script:
    - 'if [ -f $PRD_DIR_PRODUCTION/.env.tmp ]; then \mv -f $PRD_DIR_PRODUCTION/.env.tmp $PRD_DIR_PRODUCTION/.env; fi'
    - exit 0
  only:
    refs:
      - tags
    variables:
      - $CI_COMMIT_REF_NAME =~ /^v\d+\.\d+\.\d+$/
  except:
    - branches
  tags:
    - deploy_stg

