body {
  font-family: "Roboto", sans-serif; }

img {
  max-width: 100%; }

@media (min-width: 1500px) {
  .container {
    max-width: 1400px; } }
.ease-animated, #our-team .owl-carousel-member .item {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.icon-address {
  width: 16px;
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.text-blur {
  color: #C3C3DF; }

.cb-divider {
  height: 2px;
  background-color: #212058; }

.cb-gradient {
  position: relative; }
  .cb-gradient:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #3047A0, #07B7F0); }

.wrap-image {
  width: 100%; }

#header {
  background-color: #363794; }
  #header .navbar-light .navbar-nav .nav-link, #header .navbar-light .navbar-nav .nav-link:hover, #header .navbar-light .navbar-nav .nav-link:focus,
  #header .navbar-light .navbar-nav .show .nav-link {
    color: white; }
  #header .navbar-light .navbar-nav .nav-link {
    padding: 15px 35px; }
  #header .navbar-light .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 15px; }
  #header .navbar-nav .dropdown-menu {
    background-color: #212058; }
    #header .navbar-nav .dropdown-menu .dropdown-item {
      color: white;
      padding-top: 0;
      padding-bottom: 0; }
      #header .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: unset;
        color: #363794; }
      #header .navbar-nav .dropdown-menu .dropdown-item > div {
        padding: 10px 0;
        border-bottom: solid 1px #18173B; }
      #header .navbar-nav .dropdown-menu .dropdown-item:last-child > div {
        border-bottom: none; }

#banner {
  background-image: url("../img/bg-banner.jpg");
  min-height: calc(100vh - 80px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 59.06%;
  position: relative; }
  #banner .wrap-content-section {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
    #banner .wrap-content-section .content-section {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      padding-bottom: 14.11%;
      color: white; }
  #banner .wrap-logo {
    width: 50%;
    position: absolute;
    top: 43%;
    right: 50px;
    transform: translateY(-50%); }
    #banner .wrap-logo .big-logo {
      height: 0;
      padding-bottom: 64.65%;
      position: relative; }
      #banner .wrap-logo .big-logo > div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat; }
      #banner .wrap-logo .big-logo .part1 {
        background-image: url("../img/big-logo-part-1.png"); }
      #banner .wrap-logo .big-logo .part2 {
        background-image: url("../img/big-logo-part-2.png"); }
      #banner .wrap-logo .big-logo .part3 {
        background-image: url("../img/big-logo-part-3.png"); }
      #banner .wrap-logo .big-logo .part4 {
        background-image: url("../img/big-logo-part-4.png"); }

#about-us {
  background-color: #363794;
  padding-top: 40px;
  padding-bottom: 215px;
  color: white;
  position: relative; }
  #about-us .bg-top {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 14.11%;
    background-image: url("../img/bg-bottom-banner.png");
    bottom: calc(100% - 1px);
    background-size: 100% 100%;
    background-repeat: no-repeat; }

#skill {
  background-color: #212058;
  position: relative;
  color: white; }
  #skill .bg-top {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 14.11%;
    background-image: url("../img/bg-bottom-banner-bold.png");
    bottom: calc(100% - 1px);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  #skill .skill-bar {
    background-image: linear-gradient(to right, #3047A0, #07B7F0);
    height: 20px;
    border-radius: 10px; }

#our-team {
  background-color: #212058;
  position: relative; }
  #our-team h2 {
    color: white; }
  #our-team .bg-bottom {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 4.21875%;
    background-image: url("../img/bg-bottom-bold.png");
    top: calc(100% - 1px);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  #our-team .owl-carousel-member {
    padding-top: 100px; }
    #our-team .owl-carousel-member .owl-item.active.translate-2 .item {
      padding-top: 40px; }
    #our-team .owl-carousel-member .owl-item.active.center .item {
      padding-top: 0; }
    #our-team .owl-carousel-member .item {
      padding-top: 80px; }
      #our-team .owl-carousel-member .item .width {
        width: 370px;
        max-width: 100%;
        margin: auto; }
        #our-team .owl-carousel-member .item .width .wrap-image {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          border-radius: 50%;
          background-image: linear-gradient(to right, #3047A0, #07B7F0);
          position: relative;
          overflow: hidden; }
          #our-team .owl-carousel-member .item .width .wrap-image img {
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            position: absolute;
            object-fit: cover;
            border-radius: 50%;
            left: 4px;
            top: 4px; }
        #our-team .owl-carousel-member .item .width main {
          color: white;
          text-align: center;
          margin-top: 60px; }
  #our-team .owl-carousel-member-detail {
    margin-top: 100px; }
    #our-team .owl-carousel-member-detail .item {
      padding: 50px 70px;
      background-color: white;
      border-radius: 10px;
      position: relative; }
      #our-team .owl-carousel-member-detail .item:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 16px 48px 16px;
        border-color: transparent transparent #ffffff transparent;
        bottom: 100%; }
      #our-team .owl-carousel-member-detail .item .title {
        font-size: 50px;
        margin-bottom: 30px; }
      #our-team .owl-carousel-member-detail .item h5 {
        font-weight: bold; }
    #our-team .owl-carousel-member-detail .owl-stage-outer {
      overflow-y: unset; }

#our-service {
  background-color: #18173B;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px; }
  #our-service .service-item .image img, #our-service .service-item .image svg {
    max-width: 50%;
    margin: auto; }
  #our-service .service-item .main-content {
    background-color: white;
    border-radius: 7px;
    padding: 35px;
    position: relative;
    color: black; }
    #our-service .service-item .main-content:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: -5px;
      left: 50%;
      width: 30%;
      height: 17px;
      background-color: #363794;
      border-radius: 5px;
      transform: translateX(-50%); }

#portfolio {
  color: white; }
  #portfolio .bg-top {
    width: 100%;
    height: 0;
    padding-bottom: 4.21875%;
    background-image: url("../img/bg-top-bold.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: #18173B; }
  #portfolio .bg-bottom {
    width: 100%;
    height: 0;
    padding-bottom: 4.21875%;
    background-image: url("../img/bg-bottom-bold.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; }
  #portfolio .content-section {
    background-color: #212058; }
    #portfolio .content-section .item {
      position: relative;
      padding: 5px !important; }
      #portfolio .content-section .item:hover .title {
        opacity: 1; }
      #portfolio .content-section .item .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0; }
  #portfolio .customScroll {
    max-height: 480px; }
  #portfolio .simplebar-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    padding-right: 20px !important; }

#partner .section-content {
  padding: 40px 0; }

#blog .bg-top {
  width: 100%;
  height: 0;
  padding-bottom: 4.21875%;
  background-image: url("../img/bg-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }
#blog .content-blog {
  background-color: #363794;
  color: white; }

footer {
  background-color: #363794;
  color: white; }
  footer .line {
    height: 2px;
    background-image: linear-gradient(to right, #3047A0, #07B7F0);
    width: 100%; }
  footer .nav-link {
    padding: 0 15px;
    color: white; }

/*# sourceMappingURL=app.css.map */
