.uppercase
  text-transform: uppercase

.nav-link
  margin-top: 0

.custom-control-input:checked ~ .custom-control-label::before
  border-color: #E84118
  background-color: #E84118

.hide
  display: none

.switchLanguage
  img
    width: 20px

  &.active
    cursor: unset

    img
      width: 30px

.social-links:not(.flag)
  border-right: solid 1px white

.social-links li a:hover
  text-decoration: none

.custom-switch
  cursor: pointer

.loader-logo:first-letter
  color: #E48632

#team
  figure
    img
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%)
      transition: all 0.4s ease

    &:hover
      img
        -webkit-filter: grayscale(0)
        filter: grayscale(0)

#copyright
  float: none
  margin-bottom: 1rem

.gg-map
  width: 100%
  height: 330px
  opacity: 0.9
  position: relative
  overflow: hidden

#contact
  a:visited
    color: unset

#switchLang
  & + i:before
    content: "\f186"

  &:checked
    & + i:before
      content: "\f185"

.for-switch-lang
  cursor: pointer
  padding: 0 5px

body.dark
  .tooltip-inner
    color: white
    background-color: #E48632

  .arrow:before
    border-left-color: #E48632 !important